
.ShoptitleJ h1 {
    font-family: 'Times New Roman', serif;
    font-size: 36px;
    font-weight: bold;
    color:black;
}

.jewelleryshop {
    background-size: cover;
    padding: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
}

.ShoptitleJ {
    text-align: center;
    margin-bottom: 20px;
}



.Productsjewellery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.jewproduct {
    background-image: linear-gradient(to bottom, #7e225b, #7b2ae6);
    width: calc(30% - 20px);  
    height:100%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.jewproduct h2 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    margin: 10px 0;
}

.jewproduct p {
    margin: 5px 0;
}



.jewelleryimage {
    height: 400px; 
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.product p.price {
    font-weight: bold;
}

.jewelleryshop h1,
.product p {
    opacity: 0.9;
}

.jewbutton {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .jewbutton:hover {
    background-position: right center;
   
    color: #fff;
    text-decoration: none;
  }
  
  .jewbutton:active {
    transform: scale(0.95);
  }
